* {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.ubuntu-light {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.ubuntu-regular {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.ubuntu-medium {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.ubuntu-bold {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.ubuntu-light-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.ubuntu-regular-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.ubuntu-medium-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.ubuntu-bold-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: italic;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/*  */
.w-rem-40 {
    width: 10rem !important;
}

.w-rem-50 {
    width: 15rem !important;
}

.text-xl {
    font-size: calc(1.275rem + .3vw) !important;
}

.h-rem-6 {
    height: 1.5rem !important;
}

.w-rem-6 {
    width: 1.5rem !important;
}

.form-control-flush:focus {
    box-shadow: none;
    background-color: transparent;
    border-width: 0;
}

.h-rem-6 {
    height: 1.5rem !important;
}

.w-rem-6 {
    width: 1.5rem !important;
}

.text-xs {
    font-size: .75rem !important;
}

.text-heading {
    opacity: 1;
    color: var(--x-heading-color) !important;
}

.gap-1 {
    gap: .25rem !important;
}

.gap-8 {
    gap: 2rem !important;
}

.bg-body-gold {
    --bs-bg-opacity: 1;
    background-color: rgb(246 244 236) !important;
}

.btn-neutral {
    --x-btn-color: #334155;
    --x-btn-bg: #fff;
    --x-btn-border-color: #cbd5e1;
    --x-btn-hover-color: #334155;
    --x-btn-hover-bg: #f1f5f9;
    --x-btn-hover-border-color: #e2e8f0;
    --x-btn-focus-shadow-rgb: 180, 191, 204;
    --x-btn-active-color: #334155;
    --x-btn-active-bg: #e2e8f0;
    --x-btn-active-border-color: #cbd5e1;
    --x-btn-active-shadow: 0 0 0 0 transparent;
    --x-btn-disabled-color: #000;
    --x-btn-disabled-bg: #fff;
    --x-btn-disabled-border-color: #cbd5e1;
}

[data-bs-theme=dark] .btn-neutral {
    --x-btn-bg: var(--x-gray-800);
    --x-btn-border-color: var(--x-gray-800);
    --x-btn-color: var(--x-gray-100);
    --x-btn-hover-bg: var(--x-gray-700);
    --x-btn-hover-color: var(--x-white);
    --x-btn-hover-border-color: var(--x-gray-700);
}

#buyForm input, #buyForm textarea {
    box-shadow: none;
    border-color: none;
    background-color: transparent;
}

#buyForm .icon-shape {
    vertical-align: middle;
    text-align: center;
    width: 2rem;
    height: 2rem;
    border-radius: .375rem;
    justify-content: center;
    align-items: center;
    display: inline-flex;
}

#pin:focus {
    box-shadow: none;
}
